<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SDKTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TensiometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BraceletAT500HrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OximeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TensiobraceletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ThermometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WeightScaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MultipleConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MultipleConnectionActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BraceletAT250Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BabyTempBT125Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ScanAllDevicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PillReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BraceletVitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GlucometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TensiometerBPM260Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TensiometerBPM300Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ThermometerKelvinPlusActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.LifeVitTensiService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice|connectedDevice" />

    </application>

</manifest>